<section class="register">
	<form class="form-horizontal" name="myform" ng-submit="register()" novalidate >
		<h1>Rgister</h1>
		<p>Create new Account</p>
		
		<div class="form-group">
			<input type="text" class="form-control" name="firstname" placeholder="First Name"
			ng-model="user.firstname" ng-required="true">
			<div class="alert alert-danger" role="alert" ng-show="myform.firstname.$invalid && myform.firstname.$touched" > First Name is required </div>
		</div>
		<div class="form-group">
		<input type="text" class="form-control" name="lastname" placeholder="Last Name"
		ng-model="user.lastname" ng-required="true">
		<div class="alert alert-danger" role="alert" ng-show="myform.lastname.$invalid && myform.lastname.$touched" > Last Name is required </div>
		</div>
		<div class="form-group">
		<input type="email" class="form-control" name="email" placeholder="Email"
		ng-model="user.email" ng-required="true">

		<div class="alert alert-danger" role="alert" ng-show="myform.email.$invalid && myform.email.$touched" > Must be a valid email </div>
		</div>
		<div class="form-group">
		<input type="password" class="form-control" name="password" placeholder="password" 
		ng-model="user.password" ng-required="true">

		<div class="alert alert-danger" role="alert" ng-show="myform.password.$invalid && myform.password.$touched" > password is required </div>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary" ng-disabled="myform.$invalid" >Create Account</button>
		</div>
	</form>
</section>
